In [54]:
import pandas as pd
ratings_movies = pd.read_csv('data/ratings_movies.csv', sep=',')
joined = ratings_movies.copy()
joined.head()

,Unnamed: 0,userId,movieId,rating,date,title,genres
0,0,1,1,4.0,2000-07-30 18:45:03,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,1,1,3,4.0,2000-07-30 18:20:47,Grumpier Old Men (1995),Comedy|Romance
2,2,1,6,4.0,2000-07-30 18:37:04,Heat (1995),Action|Crime|Thriller
3,3,1,47,5.0,2000-07-30 19:03:35,Seven (a.k.a. Se7en) (1995),Mystery|Thriller
4,4,1,50,5.0,2000-07-30 18:48:51,"Usual Suspects, The (1995)",Crime|Mystery|Thriller

Для решения задач нам понадобится выделить из признака title год выпуска фильма. Для этого напишем функцию get_year_release(arg).

In [55]:
#библиотека для регулярных выражений
import re

def get_year_release(arg):
    #находим все слова по шаблону "(DDDD)"
    candidates = re.findall(r'\(\d{4}\)', arg) 
    # проверяем число вхождений
    if len(candidates) > 0:
        #если число вхождений больше 0,
	#очищаем строку от знаков "(" и ")"
        year = candidates[0].replace('(', '')
        year = year.replace(')', '')
        return int(year)
    else:
        #если год не указан, возвращаем None
        return None

Данная функция основана на регулярных выражениях и использует модуль ***re***, с которым мы пока не работали.

→ Модуль ***re*** предназначен для поиска шаблонов в тексте и встроен в язык, поэтому не нуждается в установке.

                                             ДОПОЛНИТЕЛЬНО

При желании вы можете ознакомиться с регулярными выражениями по ссылке, однако это не является обязательным для выполнения заданий в этом юните.

Из модуля re нам понадобится только функция findall(), которая позволяет найти в строке все слова, удовлетворяющие шаблону. Мы находим в строке с названием фильма шаблон "(DDDD)" — четыре цифры, обёрнутых в скобки, что соответствует году выпуска фильма. Если такого шаблона не было найдено (год выпуска не указан), функция возвращает None (в таблице это будет помечено как пропуск).

Совет: для выполнения заданий используйте изученные в этом модуле методы.

                                                      Задание 8.1
Создайте в таблице новый признак year_release, который соответствует году выпуска фильма.</br>
У скольких фильмов не указан год их выпуска?</br>
     ***Подсказка (1 из 2): Признак года выпуска фильма создаётся с помощью применения функции get_year_release к столбцу title.</br>***
       ***Подсказка (2 из 2): Число непустых значений в столбце можно узнать с помощью метода info().</br>***

In [57]:
joined['year_release'] = joined['title'].apply(get_year_release)
joined.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100836 entries, 0 to 100835
Data columns (total 8 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Unnamed: 0    100836 non-null  int64
 1   userId        100836 non-null  int64
 2   movieId       100836 non-null  int64
 3   rating        100836 non-null  float64
 4   date          100836 non-null  object
 5   title         100836 non-null  object
 6   genres        100836 non-null  object
 7   year_release  100818 non-null  float64
dtypes: float64(2), int64(3), object(3)
memory usage: 6.2+ MB

Задание 8.2
1 point possible (graded)</br>
Какой фильм, выпущенный в 1999 году, получил наименьшую среднюю оценку зрителей?</br>
В качестве ответа запишите название этого фильма без указания года его выпуска.</br>
Подсказка (1 из 4): Произведите фильтрацию по условию «год выпуска».</br>
Подсказка (2 из 4): На отфильтрованной таблице произведите группировку по названию фильма(title) и посчитайте среднее по столбцу rating для каждого фильма.</br>
Подсказка (3 из 4): Отсортируйте результат в порядке возрастания.</br>
Подсказка (4 из 4): Индекс первой строки результирующей таблицы будет являться ответом.</br>

In [72]:
mask = joined['year_release']==1999
joined[mask].groupby(by='title')['rating'].mean().sort_values(ascending=True)

title
Bloodsport: The Dark Kumite (1999)            0.5
Simon Sez (1999)                              1.0
Chill Factor (1999)                           1.0
Source, The (1999)                            1.0
Trippin' (1999)                               1.0
                                             ...
Trailer Park Boys (1999)                      5.0
Larry David: Curb Your Enthusiasm (1999)      5.0
Sun Alley (Sonnenallee) (1999)                5.0
George Carlin: You Are All Diseased (1999)    5.0
Five Senses, The (1999)                       5.0
Name: rating, Length: 261, dtype: float64