In [ ]:
import pandas as pd
ratings_movies = pd.read_csv('data/ratings_movies.csv', sep=',')
joined = ratings_movies.copy()
joined.head()

,Unnamed: 0,userId,movieId,rating,date,title,genres
0,0,1,1,4.0,2000-07-30 18:45:03,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,1,1,3,4.0,2000-07-30 18:20:47,Grumpier Old Men (1995),Comedy|Romance
2,2,1,6,4.0,2000-07-30 18:37:04,Heat (1995),Action|Crime|Thriller
3,3,1,47,5.0,2000-07-30 19:03:35,Seven (a.k.a. Se7en) (1995),Mystery|Thriller
4,4,1,50,5.0,2000-07-30 18:48:51,"Usual Suspects, The (1995)",Crime|Mystery|Thriller

Для решения задач нам понадобится выделить из признака title год выпуска фильма. Для этого напишем функцию get_year_release(arg).

In [ ]:
#библиотека для регулярных выражений
import re

def get_year_release(arg):
    #находим все слова по шаблону "(DDDD)"
    candidates = re.findall(r'\(\d{4}\)', arg) 
    # проверяем число вхождений
    if len(candidates) > 0:
        #если число вхождений больше 0,
	#очищаем строку от знаков "(" и ")"
        year = candidates[0].replace('(', '')
        year = year.replace(')', '')
        return int(year)
    else:
        #если год не указан, возвращаем None
        return None

Данная функция основана на регулярных выражениях и использует модуль ***re***, с которым мы пока не работали.

→ Модуль ***re*** предназначен для поиска шаблонов в тексте и встроен в язык, поэтому не нуждается в установке.

                                             ДОПОЛНИТЕЛЬНО

При желании вы можете ознакомиться с регулярными выражениями по ссылке, однако это не является обязательным для выполнения заданий в этом юните.

Из модуля re нам понадобится только функция findall(), которая позволяет найти в строке все слова, удовлетворяющие шаблону. Мы находим в строке с названием фильма шаблон "(DDDD)" — четыре цифры, обёрнутых в скобки, что соответствует году выпуска фильма. Если такого шаблона не было найдено (год выпуска не указан), функция возвращает None (в таблице это будет помечено как пропуск).

Совет: для выполнения заданий используйте изученные в этом модуле методы.

                                                      Задание 8.1
Создайте в таблице новый признак year_release, который соответствует году выпуска фильма.</br>
У скольких фильмов не указан год их выпуска?</br>
     ***Подсказка (1 из 2): Признак года выпуска фильма создаётся с помощью применения функции get_year_release к столбцу title.</br>***
       ***Подсказка (2 из 2): Число непустых значений в столбце можно узнать с помощью метода info().</br>***

In [ ]:
joined['year_release'] = joined['title'].apply(get_year_release)
joined.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100836 entries, 0 to 100835
Data columns (total 8 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Unnamed: 0    100836 non-null  int64
 1   userId        100836 non-null  int64
 2   movieId       100836 non-null  int64
 3   rating        100836 non-null  float64
 4   date          100836 non-null  object
 5   title         100836 non-null  object
 6   genres        100836 non-null  object
 7   year_release  100818 non-null  float64
dtypes: float64(2), int64(3), object(3)
memory usage: 6.2+ MB

Задание 8.2</br>
Какой фильм, выпущенный в 1999 году, получил наименьшую среднюю оценку зрителей?</br>
В качестве ответа запишите название этого фильма без указания года его выпуска.</br>
Подсказка (1 из 4): Произведите фильтрацию по условию «год выпуска».</br>
Подсказка (2 из 4): На отфильтрованной таблице произведите группировку по названию фильма(title) и посчитайте среднее по столбцу rating для каждого фильма.</br>
Подсказка (3 из 4): Отсортируйте результат в порядке возрастания.</br>
Подсказка (4 из 4): Индекс первой строки результирующей таблицы будет являться ответом.</br>

In [ ]:
mask = joined['year_release']==1999
joined[mask].groupby(by='title')['rating'].mean().sort_values(ascending=True)

title
Bloodsport: The Dark Kumite (1999)            0.5
Simon Sez (1999)                              1.0
Chill Factor (1999)                           1.0
Source, The (1999)                            1.0
Trippin' (1999)                               1.0
                                             ...
Trailer Park Boys (1999)                      5.0
Larry David: Curb Your Enthusiasm (1999)      5.0
Sun Alley (Sonnenallee) (1999)                5.0
George Carlin: You Are All Diseased (1999)    5.0
Five Senses, The (1999)                       5.0
Name: rating, Length: 261, dtype: float64

Задание 8.3 </br>
Какое сочетание жанров фильмов (genres), выпущенных в 2010 году, получило наименьшую среднюю оценку (rating)?</br>
Запишите сочетание так же, как оно указано в таблице (через разделитель |, без пробелов).</br>
Подсказка (1 из 4): Произведите фильтрацию по условию «год выпуска».</br>
Подсказка (2 из 4): Сгруппируйте отфильтрованную таблицу по жанрам и найдите средний рейтинг для каждого жанра.</br>
Подсказка (3 из 4): Отсортируйте результат по возрастанию.</br>
Подсказка (4 из 4): Индекс первой строки результирующей таблицы будет являться ответом.</br>

In [ ]:
mask_1 = joined['year_release']==2010
joined[mask_1].groupby(by='genres')['rating'].mean().sort_values()

genres
Action|Sci-Fi                        1.000000
Action|Adventure|Horror              1.500000
Action|Drama|Fantasy                 1.500000
Crime|Romance                        1.500000
Adventure|Comedy|Fantasy             1.833333
                                       ...
Crime                                4.750000
Comedy|Musical                       5.000000
Animation|Drama|Fantasy|Mystery      5.000000
Adventure|Children|Comedy|Mystery    5.000000
Animation|Children|Mystery           5.000000
Name: rating, Length: 119, dtype: float64

Задание 8.4</br>
Какой пользователь (userId) посмотрел наибольшее количество различных (уникальных) комбинаций жанров (genres) фильмов? В качестве ответа запишите идентификатор этого пользователя.</br>
Подсказка (1 из 3): Сгруппируйте таблицу по пользователям и найдите число уникальных жанров для каждого пользователя.</br>
Подсказка (2 из 3): Отсортируйте результат по убыванию.</br>
Подсказка (3 из 3): Индекс первой строки результирующей таблицы будет являться ответом.</br>

In [ ]:
joined.groupby(by ='userId')['genres'].nunique().sort_values(ascending=False)

userId
599    524
414    482
448    403
380    399
474    395
      ...
578     15
12      15
85      13
214     13
245     13
Name: genres, Length: 610, dtype: int64

Задание 8.5</br>
Найдите пользователя, который выставил наименьшее количество оценок, но его средняя оценка фильмам наибольшая.
В качестве ответа укажите идентификатор этого пользователя.</br>
*Чтобы рассчитать несколько параметров для каждого пользователя (количество оценок и среднюю оценку), можно воспользоваться методом agg() на сгруппированных данных.</br>*
 
Подсказка (1 из 4): Сгруппируйте таблицу по пользователям (userId).</br>
Подсказка (2 из 4): Для каждого пользователя рассчитайте количество выставленных им оценок и средний рейтинг.</br>
Подсказка (3 из 4): Отсортируйте таблицу по возрастанию количества оценок и по убыванию среднего рейтинга.</br>
Подсказка (4 из 4): Индекс первой строки результирующей таблицы будет являться ответом.</br>

In [ ]:
joined.groupby(by= 'userId')['rating'].agg(['count', 'mean']).sort_values(by=['count', 'mean'], ascending=[True, False])

        count      mean
userId
53         20  5.000000
595        20  4.200000
189        20  4.100000
569        20  4.000000
278        20  3.875000
...       ...       ...
274      1346  3.235884
448      1864  2.847371
474      2108  3.398956
599      2478  2.642050
414      2698  3.391957

[610 rows x 2 columns]

Задание 8.6</br>
Найдите сочетание жанров (genres) за 2018 году, которое имеет наибольший средний рейтинг (среднее по столбцу rating), и при этом число выставленных ему оценок (количество значений в столбце rating) больше 10.</br>
*Запишите сочетание так же, как оно указано в таблице (через разделитель |, без пробелов).</br>*
 - Подсказка (1 из 6): Произведите фильтрацию по условию «год выпуска 2018».</br>
 - Подсказка (2 из 6): Сгруппируйте отфильтрованную таблицу по жанрам и найдите средний рейтинг, а также количество выставленных оценок с помощью метода agg().</br>
 - Подсказка (3 из 6): Сохраните сгруппированную таблицу.</br>
 - Подсказка (4 из 6): Произведите фильтрацию полученной таблицы по условию «количество оценок > 10».</br>
 - Подсказка (5 из 6): Отсортируйте результат по столбцу со средним значением по убыванию.</br>
 - Подсказка (6 из 6): Индекс первой строки результирующей таблицы будет являться ответом.</br>

In [ ]:
mask = joined['year_release']==2018
grouped=joined[mask].groupby(by= 'genres')['rating'].agg(['mean', 'count'])
grouped[grouped['count']>10].sort_values(by='mean', ascending= False)

                             mean  count
genres
Action|Adventure|Sci-Fi  3.928571     14
Action|Comedy|Sci-Fi     3.875000     12

Задание 8.7</br>
Добавьте в таблицу новый признак year_rating — год выставления оценки. Создайте сводную таблицу, которая иллюстрирует зависимость среднего рейтинга фильма от года выставления оценки и жанра. Выберите верные варианты ответа, исходя из построенной таблицы:</br>
V - A За весь период (с 1996 по 2018 год) сочетание жанров Action|Adventure ни разу не получало среднюю оценку ниже 3.
   - B Наилучшую оценку жанр Action|Adventure|Animation|Children|Comedy|IMAX получил в 2010 году. *нет  - в 2013*</br> 
   - C Среди сочетаний жанров, получивших наивысшую среднюю оценку в 2018 году, есть сочетание Animation|Children|Mystery.</br>
   - D Для жанра Comedy прослеживается тенденция падения рейтинга с каждым годом (с 1996 по 2018).</br>

Подсказка (1 из 3): Переведите признак date в формат datetime.</br>
Подсказка (2 из 3): Выделите признак года выставления оценки с помощью атрибута аксессора dt year, результат занесите в столбец year_rating.</br>
Подсказка (3 из 3): Составьте сводную таблицу, индексами которой являются годы выставления оценки(year_rating), столбцами — жанры (genres), а в качестве значений выступают средние оценки фильмов.</br>

In [127]:
joined['date'] = pd.to_datetime(joined['date'])
joined['year_rating'] = joined['date'].dt.year
pivot = joined.pivot_table(index='year_rating', columns='genres', values='rating', aggfunc='mean', fill_value=0)
display(pivot)

genres,(no genres listed),Action,Action|Adventure,Action|Adventure|Animation,Action|Adventure|Animation|Children,Action|Adventure|Animation|Children|Comedy,Action|Adventure|Animation|Children|Comedy|Fantasy,Action|Adventure|Animation|Children|Comedy|IMAX,Action|Adventure|Animation|Children|Comedy|Romance,Action|Adventure|Animation|Children|Comedy|Sci-Fi,...,Romance|Thriller,Romance|War,Romance|Western,Sci-Fi,Sci-Fi|IMAX,Sci-Fi|Thriller,Sci-Fi|Thriller|IMAX,Thriller,War,Western
year_rating,,,,,,,,,,,,,,,,,,,,,
1996,0.000000,2.730769,3.454545,0.000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,...,0.000,0.0,0.0,0.000000,0.000000,2.666667,0.000000,3.838095,0.0,3.117647
1997,0.000000,3.538462,4.150000,0.000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,...,0.000,0.0,0.0,0.000000,0.000000,3.400000,0.000000,3.923077,0.0,3.000000
1998,0.000000,0.000000,4.200000,0.000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,...,0.000,0.0,0.0,0.000000,0.000000,0.000000,0.000000,3.800000,0.0,0.000000
1999,0.000000,0.000000,4.000000,0.000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,...,2.000,0.0,0.0,0.000000,0.000000,4.000000,0.000000,3.700000,4.5,4.000000
2000,0.000000,2.588235,3.738462,0.000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,...,4.000,0.0,3.0,3.416667,0.000000,2.142857,0.000000,3.087912,3.0,4.058824
2001,0.000000,3.000000,3.500000,0.000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,...,0.000,0.0,3.0,2.500000,0.000000,2.500000,0.000000,3.477273,3.0,3.111111
2002,0.000000,2.750000,4.304348,0.000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,...,3.000,0.0,0.0,3.750000,0.000000,3.600000,0.000000,3.583333,3.5,3.000000
2003,0.000000,3.833333,3.277778,0.000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,...,3.375,2.5,0.0,2.333333,0.000000,3.142857,0.000000,3.250000,3.0,4.000000
2004,0.000000,2.700000,4.136364,0.000,0.000000,4.000000,0.000000,0.000000,0.000000,0.0,...,3.000,3.0,3.5,2.125000,0.000000,0.000000,0.000000,3.464286,3.0,3.800000
2005,0.000000,3.357143,3.413043,0.000,0.000000,4.107143,0.000000,0.000000,0.000000,0.0,...,2.000,0.0,0.0,3.000000,0.000000,2.750000,0.000000,3.411765,0.0,4.500000
2006,0.000000,2.166667,4.090909,0.000,0.000000,3.833333,0.000000,0.000000,0.000000,3.0,...,0.000,0.0,0.0,0.500000,0.000000,4.500000,0.000000,3.735294,0.0,3.625000
2007,0.000000,2.583333,3.666667,0.000,0.000000,3.846154,3.000000,0.000000,0.000000,2.8,...,1.500,0.0,2.5,3.375000,0.000000,2.833333,0.000000,3.421875,0.0,3.000000
2008,0.000000,3.000000,3.656250,0.000,0.000000,4.125000,4.000000,0.000000,0.000000,3.5,...,0.000,0.0,0.0,3.125000,0.000000,3.000000,0.000000,3.333333,0.0,4.000000
2009,0.000000,0.000000,3.714286,0.000,0.000000,3.900000,0.000000,3.250000,0.000000,2.5,...,0.000,0.0,0.0,2.000000,0.000000,4.000000,0.000000,2.964286,4.0,3.375000
2010,0.000000,3.500000,3.437500,0.000,0.000000,4.333333,0.000000,3.500000,3.000000,0.0,...,0.000,0.0,0.0,4.000000,0.000000,2.500000,0.000000,2.833333,0.0,3.666667
2011,0.000000,4.500000,3.888889,0.000,0.000000,3.500000,0.000000,0.000000,0.000000,4.0,...,0.000,0.0,0.0,3.500000,0.000000,1.833333,4.000000,3.625000,0.0,4.000000
2012,0.000000,2.625000,3.900000,0.000,4.000000,3.785714,0.000000,3.550000,4.000000,0.0,...,2.500,0.0,0.0,4.166667,0.000000,3.500000,3.666667,3.083333,0.0,4.100000
2013,0.000000,2.500000,3.833333,0.000,3.000000,4.333333,0.000000,5.000000,0.000000,0.0,...,0.000,0.0,0.0,1.500000,0.000000,3.833333,4.000000,3.666667,0.0,4.000000
2014,0.000000,0.000000,3.875000,3.000,3.500000,3.250000,3.833333,3.500000,4.000000,0.0,...,0.000,0.0,0.0,2.500000,5.000000,0.000000,4.000000,4.000000,0.0,4.000000
2015,0.500000,3.100000,3.560976,3.800,3.666667,3.565217,3.833333,3.375000,2.333333,2.5,...,0.000,0.0,0.0,2.900000,4.071429,3.764706,4.000000,2.911765,0.0,3.900000
2016,3.500000,3.545455,3.722222,3.750,3.833333,3.925000,3.388889,3.666667,1.000000,4.0,...,2.500,0.0,0.0,3.555556,3.807692,3.916667,3.666667,3.432432,0.0,3.958333
2017,3.000000,2.637931,3.527778,3.375,3.500000,3.676471,3.700000,1.000000,1.000000,2.0,...,3.000,0.0,0.0,3.864865,4.264706,3.750000,2.500000,3.152174,0.0,2.933333
2018,3.676471,2.588235,3.397436,3.650,3.166667,3.741935,4.142857,3.700000,2.500000,4.0,...,0.000,0.0,0.0,3.128571,3.500000,3.562500,0.000000,3.296296,0.0,3.611111

Index(['(no genres listed)', 'Action', 'Action|Adventure',
       'Action|Adventure|Animation', 'Action|Adventure|Animation|Children',
       'Action|Adventure|Animation|Children|Comedy',
       'Action|Adventure|Animation|Children|Comedy|Fantasy',
       'Action|Adventure|Animation|Children|Comedy|IMAX',
       'Action|Adventure|Animation|Children|Comedy|Romance',
       'Action|Adventure|Animation|Children|Comedy|Sci-Fi',
       ...
       'Romance|Thriller', 'Romance|War', 'Romance|Western', 'Sci-Fi',
       'Sci-Fi|IMAX', 'Sci-Fi|Thriller', 'Sci-Fi|Thriller|IMAX', 'Thriller',
       'War', 'Western'],
      dtype='object', name='genres', length=951)

In [129]:
orders_df = pd.read_csv('data/orders.csv', sep=';')
display(orders.head())

,Дата создания,Order ID,ID Покупателя,Статус,Оплачен,Отменен,Отгружен,ID товара,Количество
0,09.11.2019 21:55:51,9,10,"Принят, ожидается оплата",Нет,Нет,Нет,103,5
1,09.11.2019 15:05:57,8,9,"Принят, ожидается оплата",Нет,Нет,Нет,86,100
2,09.11.2019 15:05:57,8,9,"Принят, ожидается оплата",Нет,Нет,Нет,104,10
3,09.11.2019 12:50:07,7,8,"Принят, ожидается оплата",Нет,Нет,Нет,104,7
4,09.11.2019 12:00:00,6,1,"Принят, ожидается оплата",Нет,Нет,Нет,104,5

In [130]:
products_df = pd.read_csv('data/products.csv', sep=';')
display(products.head())

   Product_ID                      Name  Price CURRENCY
0          47      Шатны Полосатый рейс   2999      RUR
1          51  Платье Аленький цветочек   4999      RUR
2          53    Штаны Цветочная Поляна   4999      RUR
3          71       Платье Ночная Жизнь   7999      RUR
4          74  Платье Ночная Жизнь XXXL   8999      RUR

In [138]:
orders_products= orders_df.merge(products_df, left_on = 'ID товара', right_on= 'Product_ID', how='left')
display(orders_products.head())

,Дата создания,Order ID,ID Покупателя,Статус,Оплачен,Отменен,Отгружен,ID товара,Количество,Product_ID,Name,Price,CURRENCY
0,09.11.2019 21:55:51,9,10,"Принят, ожидается оплата",Нет,Нет,Нет,103,5,103.0,"Носки Подарочные, муж",199.0,RUR
1,09.11.2019 15:05:57,8,9,"Принят, ожидается оплата",Нет,Нет,Нет,86,100,86.0,"Носки Простые, муж",45.0,RUR
2,09.11.2019 15:05:57,8,9,"Принят, ожидается оплата",Нет,Нет,Нет,104,10,104.0,"Носки Подарочные, жен",249.0,RUR
3,09.11.2019 12:50:07,7,8,"Принят, ожидается оплата",Нет,Нет,Нет,104,7,104.0,"Носки Подарочные, жен",249.0,RUR
4,09.11.2019 12:00:00,6,1,"Принят, ожидается оплата",Нет,Нет,Нет,104,5,104.0,"Носки Подарочные, жен",249.0,RUR

Задание 8.8</br>
Какой идентификатор (Order ID) имеет заказ, для которого не оказалось информации о товаре?

In [139]:
orders_products[orders_products['Name'].isna()]

,Дата создания,Order ID,ID Покупателя,Статус,Оплачен,Отменен,Отгружен,ID товара,Количество,Product_ID,Name,Price,CURRENCY
17,01.01.2001 00:00:00,0,1,"Оплачен, формируется к отправке",Да,Нет,Нет,666,1,NaN,NaN,NaN,NaN

Задание 8.9</br>
На какой товар была произведена отмена?</br>
В качестве ответа запишите название этого товара (Name).</br>

Подсказка (1 из 1): Отфильтруйте таблицу orders_products по условию, что в столбце Отмена указано «Да».

In [143]:
orders_products[orders_products['Отменен']=='Да']['Name']

6    Носки беговые Camino
Name: Name, dtype: object

Задание 8.10</br>
Какой покупатель принёс наибольшую суммарную прибыль интернет-магазину за указанный период?</br>
В ответ запишите идентификатор этого покупателя (ID Покупателя).</br>
Прибыль состоит только из оплаченных заказов и рассчитывается как количество купленного товара, умноженное на его цену.</br>
 
Подсказка (1 из 2): Cоздадим признак прибыли за один заказ - profit - количество товара * цену товара. Затем произведем фильтрацию по условию оплаченного заказа.</br>
Подсказка (2 из 2): Сгруппируем таблицу по столбцу с идентификатором покупателя и расчитаем суммарную цену товаров, заказанных ими. Результат отсортируем по убыванию. Идентификатор покупателя в первой строке полученного топа - наш ответ.

In [148]:
orders_products['Profit'] = orders_products['Количество']*orders_products['Price']
orders_products[orders_products['Оплачен']=='Да'].groupby('ID Покупателя')['Profit'].sum().sort_values(ascending=False)

ID Покупателя
7    17096.0
5    13043.0
8     1344.0
1        0.0
Name: Profit, dtype: float64