In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

In [5]:
data = pd.read_csv('data/solarpower.csv', sep=',')
data.head()

         date  cum_power
0  2017-01-01    20111.0
1  2017-01-02    20112.0
2  2017-01-03    20115.0
3  2017-01-04    20117.0
4  2017-01-05    20119.0

In [9]:
data['date'] = pd.to_datetime(data['date'], dayfirst=True)
data['date'].head(2)

0   2017-01-01
1   2017-01-02
Name: date, dtype: datetime64[ns]

In [14]:
null_data = data.isnull().sum()
cols = null_data[null_data>0].index
for col in cols:
    data[col] = data[col].fillna(data[col].mean())
print(data['cum_power'].mean().round())

23776.0

In [18]:
display(data.describe())

          cum_power
count    664.000000
mean   23775.573795
std     2636.399680
min       -1.000000
25%    22043.750000
50%    24036.000000
75%    25320.750000
max    28120.000000