На этот раз мы поговорим о спорте, а точнее — о велоспорте. 

Вашим заданием в этом модуле будет проанализировать и преобразовать данные о велопоездках клиентов компании Citi Bike (США), специализирующейся на прокате велосипедов. <br/>
Датасет представляет собой таблицу с информацией о 300 тысячах поездок за первые пять дней сентября 2018 года и включает в себя следующую информацию:<br/>
- starttime — время начала поездки (дата, время);
- stoptime — время окончания поездки (дата, время);
- start station id — идентификатор стартовой стоянки;
- start station name — название стартовой стоянки;
- start station latitude, start station longitude — географическая широта и долгота стартовой стоянки;
- end station id — идентификатор конечной стоянки;
- end station name — название конечной стоянки;
- end station latitude, end station longitude — географическая широта и долгота конечной стоянки;
- bikeid — идентификатор велосипеда;
- usertype — тип пользователя (Customer — клиент с подпиской на 24 часа или на три дня, Subscriber — подписчик с годовой арендой велосипеда);
- birth year — год рождения клиента;
- gender — пол клиента (0 — неизвестный, 1 — мужчина, 2 — женщина).

In [1]:
import pandas as pd
citibike_tripdata = pd.read_csv('data/citibike-tripdata.csv', sep = ',')
display(citibike_tripdata.head())

,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,2018-09-01 00:00:05.2690,2018-09-01 00:27:20.6340,252.0,MacDougal St & Washington Sq,40.732264,-73.998522,366.0,Clinton Ave & Myrtle Ave,40.693261,-73.968896,25577,Subscriber,1980,1
1,2018-09-01 00:00:11.2810,2018-09-01 00:02:23.4810,314.0,Cadman Plaza West & Montague St,40.693830,-73.990539,3242.0,Schermerhorn St & Court St,40.691029,-73.991834,34377,Subscriber,1969,0
2,2018-09-01 00:00:20.6490,2018-09-01 00:55:58.5470,3142.0,1 Ave & E 62 St,40.761227,-73.960940,3384.0,Smith St & 3 St,40.678724,-73.995991,30496,Subscriber,1975,1
3,2018-09-01 00:00:21.7460,2018-09-01 00:07:38.5830,308.0,St James Pl & Oliver St,40.713079,-73.998512,3690.0,Park Pl & Church St,40.713342,-74.009355,28866,Subscriber,1984,2
4,2018-09-01 00:00:27.3150,2018-09-01 02:21:25.3080,345.0,W 13 St & 6 Ave,40.736494,-73.997044,380.0,W 4 St & 7 Ave S,40.734011,-74.002939,20943,Customer,1994,1

Сколько пропусков в столбце start station id?

In [2]:
citibike_tripdata.info()
# 169

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 14 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   starttime                300000 non-null  object
 1   stoptime                 300000 non-null  object
 2   start station id         299831 non-null  float64
 3   start station name       299831 non-null  object
 4   start station latitude   300000 non-null  float64
 5   start station longitude  300000 non-null  float64
 6   end station id           299831 non-null  float64
 7   end station name         299831 non-null  object
 8   end station latitude     300000 non-null  float64
 9   end station longitude    300000 non-null  float64
 10  bikeid                   300000 non-null  int64
 11  usertype                 300000 non-null  object
 12  birth year               300000 non-null  int64
 13  gender                   300000 non-null  int64
dtypes: float64(6), int64(3), object(5)
memory usage: 32.0+ MB

Какой тип данных имеют столбцы starttime и stoptime?
object

Найдите идентификатор самой популярной стартовой стоянки. Запишите идентификатор в виде целого числа.

In [3]:
citibike_tripdata['start station id'].mode()[0]

281.0

Велосипед с каким идентификатором является самым популярным?

In [4]:
citibike_tripdata['bikeid'].mode()[0]

33887

Какой тип клиентов (столбец usertype) является преобладающим — Subscriber или Customer? В качестве ответа запишите долю клиентов преобладающего типа среди общего количества клиентов. Ответ округлите до сотых.

In [5]:
citibike_tripdata['usertype'].value_counts(normalize=True)

Subscriber    0.774007
Customer      0.225993
Name: usertype, dtype: float64

другим способом

In [6]:
citibike_tripdata['usertype'].mode()[0]
citibike_tripdata[citibike_tripdata['usertype']=='Subscriber'].shape[0]
print(round(citibike_tripdata[citibike_tripdata['usertype']=='Subscriber'].shape[0])/(citibike_tripdata.shape[0]))

0.7740066666666666

Кто больше занимается велоспортом — мужчины или женщины? В ответ запишите число поездок для той группы, у которой их больше.

In [ ]:
# citibike_tripdata['gender'].mode()[0] # 1
citibike_tripdata['gender'].value_counts(0)

In [7]:
#  эталонное решение
male_count = citibike_tripdata[citibike_tripdata['gender'] == 1].shape[0]
female_count = citibike_tripdata[citibike_tripdata['gender'] == 2].shape[0]
print(max([male_count, female_count]))

183582

Выберите утверждения,которые соответствуют нашим данным:
- A Число уникальных стартовых и конечных стоянок, которыми воспользовались клиенты, не равны друг другу
- B В рассматриваемые дни минимальный возраст клиента составлял 10 лет
- C Самой непопулярной стартовой стоянкой из тех, которыми воспользовались клиенты, является стоянка с названием "Eastern Pkwy & Washington Ave"
- D Наибольшее количество поездок завершается на стоянке под названием "Liberty Light Rail"
Подсказка (1 из 1): Для вывода статистической информации в таблице можно воспользоваться методом describe().

In [8]:
# A Число уникальных стартовых и конечных стоянок, которыми воспользовались клиенты, не равны друг другу
a = citibike_tripdata['start station name'].nunique()
b = citibike_tripdata['end station name'].nunique()
print(a, b)

759 765

In [9]:
# B В рассматриваемые дни минимальный возраст клиента составлял 10 лет
citibike_tripdata['birth year'].max()

2002

In [11]:
 # C Самой непопулярной стартовой стоянкой из тех, которыми воспользовались клиенты, 
 # является стоянка с названием "Eastern Pkwy & Washington Ave"
citibike_tripdata['start station name'].value_counts()

Grand Army Plaza & Central Park S    1928
Central Park S & 6 Ave               1909
Pershing Square North                1873
12 Ave & W 40 St                     1845
West St & Chambers St                1835
                                     ...
NYCBS Depot - GOW                      15
Franklin Ave & Empire Blvd             11
Railroad Ave & Kay Ave                  9
47 Ave & Skillman Ave                   7
Eastern Pkwy & Washington Ave           6
Name: start station name, Length: 759, dtype: int64

In [12]:
# Наибольшее количество поездок завершается на стоянке под названием "Liberty Light Rail"
citibike_tripdata['end station name'].value_counts()

West St & Chambers St          1963
12 Ave & W 40 St               1909
Pershing Square North          1850
Central Park S & 6 Ave         1828
E 17 St & Broadway             1804
                               ...
Exchange Place                    3
Union St                          1
Warren St                         1
Montrose Ave & Bushwick Ave       1
Liberty Light Rail                1
Name: end station name, Length: 765, dtype: int64

In [13]:
data= citibike_tripdata.copy()

В первую очередь удалим лишнюю информацию из данных.
В наших данных присутствуют столбцы, которые дублируют информацию друг о друге: это столбцы с идентификатором и названием стартовой и конечной стоянки. Удалите признаки идентификаторов стоянок. Сколько столбцов осталось?


Подсказка (1 из 2): Для удаления столбцов из таблицы можно воспользоваться методом drop(), передав в него наименования столбцов, а также параметр axis=1.
Подсказка (2 из 2): Результирующее число столбцов можно получить с помощью атрибута shape.

In [14]:
data = data.drop(['start station id','end station id'], axis= 1)
data.shape[1]

12

Замените признак birth year на более понятный признак возраста клиента age. Годом отсчёта возраста выберите 2018 год. Столбец birth year удалите из таблицы. Сколько поездок совершено клиентами старше 60 лет?

- Подсказка (1 из 3): Чтобы создать столбец с возрастом, вычтите из числа 2018 столбец birth year, а результат положите в столбец age.
- Подсказка (2 из 3): Удалите столбец birth year и произведите фильтрацию по условию «возраст больше 60».
- Подсказка (3 из 3): Найдите число строк в отфильтрованной таблице.

In [15]:
data['age'] = 2018 - data['birth year']
data.drop(['birth year'], axis=1, inplace=True)
print(data[data['age'] > 60].shape[0])

11837

Cоздайте признак длительности поездки trip duration. Для этого вычислите интервал времени между временем окончания поездки (stoptime) и её началом (starttime). Сколько целых минут длилась поездка под индексом 3 в таблице?

Подсказка - Приводим столбцы starttime и stoptime в формат datetime, чтобы между ними можно было вычислять интервал (разницу между датами).
         - Длительность поездки рассчитывается как разница между stoptime и starttime. Результат заносим в столбец trip duration. Далее нам останется только обратиться к строке под индексом 3.

In [24]:
data_start = pd.to_datetime(data['starttime'])
data_stop = pd.to_datetime(data['stoptime'])
data['trip duration']= data_stop - data_start
data.loc[3, 'trip duration']

Timedelta('0 days 00:07:16.837000')

Создайте «признак-мигалку» weekend, который равен 1, если поездка начиналась в выходной день (суббота или воскресенье), и 0 — в противном случае. Выясните, сколько поездок начиналось в выходные.<br/>
- Подсказка (1 из 3): Чтобы создать признак weekend, необходимо с помощью атрибута аксессора dt dayofweek выделить день недели из столбца с датой начала поездки.W
- Подсказка (2 из 3): С помощью метода apply() можно применить к результирующей Series функцию, которая принимает на вход число (день поездки) и возвращает 1, если это число равно 5 или 6 (суббота и воскресенье), в противном случае функция возвращает 0. Результат необходимо занести в столбец weekend.
- Подсказка (3 из 3): Самый простой способ посчитать число поездок, совершаемых в выходные — рассчитать сумму по столбцу (поскольку столбец состоит из 1 и 0, на выходе суммы получается количество, равное 1).

In [26]:
data['weekday'] = data_start.dt.dayofweek
def get_weekend(weekday):
    if weekday == 5 or weekday == 6:
        return 1
    else: 
        return 0
data['weekend'] = data['weekday'].apply(get_weekend)
data['weekend'].sum()

115135

Создайте признак времени суток поездки time_of_day. Время суток будем определять из часа начала поездки. Условимся, что:
- поездка совершается ночью (night), если её час приходится на интервал от 0 (включительно) до 6 (включительно) часов;
- поездка совершается утром (morning), если её час приходится на интервал от 6 (не включительно) до 12 (включительно) часов;
- поездка совершается днём (day), если её час приходится на интервал от 12 (не включительно) до 18 (включительно) часов;
- поездка совершается вечером (evening), если её час приходится на интервал от 18 (не включительно) до 23 часов (включительно).

Во сколько раз количество поездок, совершённых днём, больше, чем количество поездок, совёршенных ночью, за представленный в данных период времени? Ответ округлите до целых.

 - Подсказка (1 из 3): Определите функцию get_time_of_day, которая принимает на вход время (в часах) и возвращает время суток в зависимости от принадлежности часа к указанному в задании диапазону.
 - Подсказка (2 из 3): Примените эту функцию к столбцу starttime, предварительно выделив час начала поездки с помощью атрибута аксессора dt hour. Результат занесите в столбец time_of_day.
 - Подсказка (3 из 3): С помощью фильтрации найдите число поездок, совершённых днем и ночью, и разделите первое на второе.

In [41]:
def get_time_of_day(time):
    if 0 <= time <= 6:
        return 'night'
    elif 6 < time <= 12:
        return 'morning'
    elif 12 < time <= 18:
        return 'day'
    elif 18 < time <= 23:
        return 'evening'
data['starttime']=pd.to_datetime(data['starttime'])
data['time_of_day'] = data['starttime'].dt.hour.apply(get_time_of_day)
a = data[data['time_of_day'] == 'day'].shape[0]
b = data[data['time_of_day'] == 'night'].shape[0]
print(round(a / b))

9