предстоит проанализировать данные о результатах экзаменов по математике, чтению и письму среди студентов некоторого учебного заведения.

In [10]:
import pandas as pd
student_data = pd.read_csv('data/students_performance.csv', sep=',')

                       Информация о столбцах таблицы:

In [8]:
student_data.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

- gender — пол;
- race/ethnicity — раса/этническая принадлежность;
- parental level of education — уровень образования родителей;
- lunch — какие обеды получал студент во время обучения (standard — платный, free/reduced — бесплатный);
- test preparation course — посещал ли студент курсы подготовки к экзаменам (none — не посещал, completed — посещал);
- math score, reading score, writing score — баллы по математике, чтению и письму по сто балльной шкале.

In [13]:
# Данные о скольких студентах содержатся в таблице?
student_data.shape[0]

1000

In [15]:
# Каков балл по письму у студента под индексом 155?
student_data.loc[155, 'writing score']

88

In [16]:
# Сколько суммарно пропущенных значений в таблице?
student_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

In [17]:
# Сколько столбцов в таблице имеет тип данных object?
student_data.describe(include=['object'])

,gender,race/ethnicity,parental level of education,lunch,test preparation course
count,1000,1000,1000,1000,1000
unique,2,5,6,2,2
top,female,group C,some college,standard,none
freq,518,319,226,645,642

In [18]:
# Какой объём памяти (в килобайтах) занимает таблица?
student_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

In [21]:
# Каков у студентов средний балл по математике?
round(student_data['math score'].mean())

66

In [25]:
# Какая расовая группа является самой крупной в учебном заведении?
# В качестве ответа введите идентификатор группы (A, B, C, D, F).
student_data['race/ethnicity'].mode()

0    group C
Name: race/ethnicity, dtype: object

In [28]:
# Каков средний балл по чтению у студентов, которые посещали курсы подготовки к экзаменам?
round(student_data[student_data['test preparation course']=='completed']['reading score'].mean())

74

In [31]:
# Сколько студентов получили 0 баллов по математике?
student_data[student_data['math score']==0].shape[0]

1

In [40]:
# Проверьте гипотезу: у студентов с оплачиваемым питанием средний балл по математике выше, чем у студентов с льготным питанием.
# В качестве ответа напишите наибольший средний балл по математике среди этих групп студентов.
# Округлите ответ до целого числа.
display(round(student_data[student_data['lunch']=='standard']['math score'].mean()))
display(round(student_data[student_data['lunch']=='free/reduced']['math score'].mean()))

70

59

In [50]:
# Каков процент студентов, родители которых имеют высшее образование уровня бакалавриата (bachelor's degree)?
# Округлите ответ до целого числа. Не указывайте знак %.
round((student_data['parental level of education'].value_counts(normalize=True))*100)

some college          23.0
associate's degree    22.0
high school           20.0
some high school      18.0
bachelor's degree     12.0
master's degree        6.0
Name: parental level of education, dtype: float64

In [58]:
# На сколько медианный балл по письму у студентов в расовой группе А отличается
# от среднего балла по письму у студентов в расовой группе C?
# Округлите ответ до целого и запишите модуль этого числа.
a = student_data[student_data['race/ethnicity'] == 'group A']['writing score'].median()
b = student_data[student_data['race/ethnicity'] == 'group C']['writing score'].mean()
print(round(abs(a-b)))

6