In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sber_data = pd.read_csv('data/sber_data.csv')
sber_data.head()

,id,full_sq,life_sq,floor,sub_area,preschool_quota,preschool_education_centers_raion,school_quota,school_education_centers_raion,school_education_centers_top_20_raion,...,office_km,additional_education_km,preschool_km,big_church_km,church_synagogue_km,theater_km,museum_km,ecology,mosque_count_1000,price_doc
0,1,43,27.0,4.0,Bibirevo,5001.0,5,11065.0,5,0,...,0.637189,0.947962,0.177975,0.625783,0.628187,14.053047,7.389498,good,0,5850000
1,2,34,19.0,3.0,Nagatinskij Zaton,3119.0,5,6237.0,8,0,...,0.688796,1.072315,0.273345,0.967821,0.471447,6.829889,0.709260,excellent,0,6000000
2,3,43,29.0,2.0,Tekstil'shhiki,1463.0,4,5580.0,7,0,...,1.543049,0.391957,0.158072,3.178751,0.755946,4.273200,3.156423,poor,0,5700000
3,4,89,50.0,9.0,Mitino,6839.0,9,17063.0,10,0,...,0.934273,0.892674,0.236455,1.031777,1.561505,16.990677,16.041521,good,0,13100000
4,5,77,77.0,4.0,Basmannoe,3240.0,7,7770.0,9,0,...,0.077901,0.810801,0.376838,0.378756,0.121681,1.112486,1.800125,excellent,0,16331452

В pandas пропуски обозначаются специальным символом NaN (Not-a-Number — «не число»). </br>
Чем так плохи пропуски, почему так важно их предобработать? </br>
Ответ очень прост: преобладающее большинство моделей машинного обучения не умеют обрабатывать пропуски, так как они работают только с числами. Если в данных содержится пустая ячейка таблицы, модель выдаст ошибку. 

                        ПРИЧИНЫ ПОЯВЛЕНИЯ ПРОПУСКОВ В ДАННЫХ

* Ошибка ввода данных. Как правило, такая ошибка обусловлена человеческим фактором: никто не застрахован от случайного пропуска графы при заполнении данных.
* Ошибка передачи данных. Эта причина на сегодняшний момент возникает довольно редко: с появлением протоколов проверки выгружаемой информации потерять данные при передаче их по сети становится сложнее, но вероятность такого события ненулевая.
* Намеренное сокрытие информации. Одна из самых распространённых причин, особенно в социологических опросах. Дело в том, что пользователи/опрашиваемые/клиенты часто скрывают информацию о себе. Например, люди, занимающие высокие должности, могут быть связаны контрактом о неразглашении своих доходов. 
* Прямое отсутствие информации. Эта причина очень распространена в данных для рекомендательных систем. Представьте, что у нас есть таблицы фильмов и пользователей, которые просматривают их и ставят им оценки. Мы объединяем всю информацию в одну большую сводную таблицу: например, по строкам идут пользователи, а по столбцам — фильмы. Но вот незадача: у нас нет информации о рейтингах фильмов, которые пользователь ещё не посмотрел. В таком случае на пересечении строки с именем пользователя и столбца с названием фильма, который он ещё не смотрел, ставится пропуск. Главное несчастье состоит в том, что 99 % процентов такой таблицы — это сплошной пропуск.
* Мошенничество. Очень острая проблема в финансовой сфере, особенно в банковских данных. Мошенники нередко указывают ложную информацию или не указывают её вовсе.
                                                                     
                                                                      КАК ОБНАРУЖИТЬ ПРОПУСКИ?

Ранее мы определяли наличие пропусков в данных с помощью метода info(). Но этот метод не позволяет точно локализовать места пропущенных значений, он выводит только число непустых значений и предназначен для определения факта наличия пропусков:

In [4]:
sber_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30471 entries, 0 to 30470
Data columns (total 61 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   id                                     30471 non-null  int64
 1   full_sq                                30471 non-null  int64
 2   life_sq                                24088 non-null  float64
 3   floor                                  30304 non-null  float64
 4   sub_area                               30471 non-null  object
 5   preschool_quota                        23783 non-null  float64
 6   preschool_education_centers_raion      30471 non-null  int64
 7   school_quota                           23786 non-null  float64
 8   school_education_centers_raion         30471 non-null  int64
 9   school_education_centers_top_20_raion  30471 non-null  int64
 10  hospital_beds_raion                    16030 non-null  float64
 11  healthcare_centers_raion               30471 non-null  int64
 12  university_top_20_raion                30471 non-null  int64
 13  sport_objects_raion                    30471 non-null  int64
 14  additional_education_raion             30471 non-null  int64
 15  culture_objects_top_25_raion           30471 non-null  int64
 16  shopping_centers_raion                 30471 non-null  int64
 17  office_raion                           30471 non-null  int64
 18  oil_chemistry_raion                    30471 non-null  object
 19  railroad_terminal_raion                30471 non-null  object
 20  nuclear_reactor_raion                  30471 non-null  object
 21  metro_min_avto                         30471 non-null  float64
 22  metro_km_avto                          30471 non-null  float64
 23  metro_min_walk                         30446 non-null  float64
 24  metro_km_walk                          30446 non-null  float64
 25  kindergarten_km                        30471 non-null  float64
 26  school_km                              30471 non-null  float64
 27  park_km                                30471 non-null  float64
 28  green_zone_km                          30471 non-null  float64
 29  industrial_km                          30471 non-null  float64
 30  railroad_station_walk_km               30446 non-null  float64
 31  railroad_station_walk_min              30446 non-null  float64
 32  public_transport_station_km            30471 non-null  float64
 33  public_transport_station_min_walk      30471 non-null  float64
 34  mkad_km                                30471 non-null  float64
 35  ttk_km                                 30471 non-null  float64
 36  sadovoe_km                             30471 non-null  float64
 37  bulvar_ring_km                         30471 non-null  float64
 38  kremlin_km                             30471 non-null  float64
 39  big_road1_1line                        30471 non-null  object
 40  big_market_km                          30471 non-null  float64
 41  market_shop_km                         30471 non-null  float64
 42  fitness_km                             30471 non-null  float64
 43  swim_pool_km                           30471 non-null  float64
 44  ice_rink_km                            30471 non-null  float64
 45  stadium_km                             30471 non-null  float64
 46  basketball_km                          30471 non-null  float64
 47  hospice_morgue_km                      30471 non-null  float64
 48  university_km                          30471 non-null  float64
 49  workplaces_km                          30471 non-null  float64
 50  shopping_centers_km                    30471 non-null  float64
 51  office_km                              30471 non-null  float64
 52  additional_education_km                30471 non-null  float64
 53  preschool_km                           30471 non-null  float64
 54  big_church_km                          30471 non-null  float64
 55  church_synagogue_km                    30471 non-null  float64
 56  theater_km                             30471 non-null  float64
 57  museum_km                              30471 non-null  float64
 58  ecology                                30471 non-null  object
 59  mosque_count_1000                      30471 non-null  int64
 60  price_doc                              30471 non-null  int64
dtypes: float64(41), int64(14), object(6)
memory usage: 14.2+ MB

Найти пропуски зачастую довольно просто за исключением тех случаев, когда пропуски скрыты.

В библиотеке pandas специально для этого реализован метод isnull(). Этот метод возвращает новый DataFrame, в ячейках которого стоят булевы значения True и False. True ставится на месте, где ранее находилось значение NaN.

Посмотрим на результат работы метода на нашей таблице:

In [7]:
display(sber_data.isnull().tail())

,id,full_sq,life_sq,floor,sub_area,preschool_quota,preschool_education_centers_raion,school_quota,school_education_centers_raion,school_education_centers_top_20_raion,...,office_km,additional_education_km,preschool_km,big_church_km,church_synagogue_km,theater_km,museum_km,ecology,mosque_count_1000,price_doc
30466,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
30467,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
30468,False,False,True,False,False,True,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
30469,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
30470,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

Из таблицы можно увидеть, где были пропущены значения: ячейки со значением True; ячейки, где стоит False, были изначально заполнены.

✍️ Как вы сами понимаете, результат метода isnull() — это, мягко говоря, не самый удобный метод поиска пропусков, однако он является промежуточным этапом других способов, которые мы рассмотрим далее.

                                            СПИСОК СТОЛБЦОВ С ПРОПУСКАМИ

Первый способ — это вывести на экран названия столбцов, где число пропусков больше 0. 

Для этого вычислим средний по столбцам результат метода isnull(). Получим долю пропусков в каждом столбце.

Умножаем на 100 %, находим столбцы, где доля пропусков больше 0, сортируем по убыванию и выводим результат:

In [9]:
cols_null_percent = sber_data.isnull().mean() * 100
cols_with_null = cols_null_percent[cols_null_percent>0].sort_values(ascending=False)
display(cols_with_null)

hospital_beds_raion          47.392603
preschool_quota              21.948738
school_quota                 21.938893
life_sq                      20.947786
floor                         0.548062
metro_min_walk                0.082045
metro_km_walk                 0.082045
railroad_station_walk_km      0.082045
railroad_station_walk_min     0.082045
dtype: float64

Итак, можно увидеть, что у нас большое число пропусков (более 47 %) в столбце hospital_beds_raion (количество больничных коек в округе). 

Далее у нас идут столбцы с числом пропусков чуть больше 20 %: 

* preschool_quota (число мест в детском саду в районе);
* school_quota (число мест в школах в районе);
* life_sq (жилая площадь здания в квадратных метрах). 

Менее одного процента пропусков содержат признаки:
* floor (число этажей в доме);
* metro_min_walk (время от дома до ближайшего метро пешком в минутах);
* metro_km_walk (расстояние до ближайшего метро в километрах);
* railroad_station_walk_km (расстояние до ближайшей ж. д. станции в километрах);
* railroad_station_walk_min (время до ближайшей ж. д. станции пешком в минутах). 
___________________________________________________________
Эти соотношения дают базовое понимание, какие дальнейшие преобразования со столбцами предстоит производить. Например, уже сейчас ясно, что столбец, в котором почти половина данных пропущена, не может дать нам полезной информации при прогнозировании. Если мы попытаемся его как-то исправить, мы можем только навредить и «нафантазировать» лишнего, поэтому от него, возможно, стоит избавиться. А вот столбцы с менее 1 % пропусков легко можно скорректировать: заполнить отсутствующие значения какими-то числами.
______________________________________________________

                                                                  СТОЛБЧАТАЯ ДИАГРАММА ПРОПУСКОВ

Иногда столбцов с пропусками становится слишком много и прочитать информацию о них из списка признаков с цифрами становится слишком затруднительно — цифры начинают сливаться воедино.</br>
Можно воспользоваться столбчатой диаграммой, чтобы визуально оценить соотношение числа пропусков к числу записей. Самый быстрый способ построить её — использовать метод plot():

In [ ]:
cols_with_null = plot()